body {
    overflow: hidden;
    margin: 0;
    font-family: Arial;
}

.container {
    height: 100vh;
    width: 100vw;
}

.battle-ground {
    height: 80%;
    width: 100%;
    /* background: linear-gradient( rgb(42, 196, 231) 10%, rgb(13, 123, 13)35%, rgb(140, 225, 143)); */
    background-image: url("swamp.png");
}

#f-grass {
    position:absolute;
    z-index:0;
    top:40%;
    left:60%;
    width:auto;
    height:75px;
}

#s-grass {
    position:absolute;
    width:auto;
    height:300px;
    top:65%;
    left:-2%;
    z-index:0;
}

#shrek {
    position: absolute;
    top: 30%;
    left:13%;
    width:auto;
    height:500px;
    z-index:1;
    
}

#farquad {
    position: absolute;
    top: 15%;
    left:70%;
    width:auto;
    height: 250px;
    z-index:1;
}

.health-box {
    width: 600px;
    height: 150px;
    background-color: rgb(207, 189, 189);
    border-style: inset;
}

#farquad-lives {
    position: absolute;
    top:5%;
    left:5%;
    border-radius: 150px 800px 50px 50px;
    background-color: rgb(136, 1, 1);
    box-shadow: 12px 8px 10px;

}

#shrek-lives {
    position: absolute;
    top:55%;
    left:52%;
    border-radius: 800px 50px 150px 50px;
    background-color: rgb(172, 255, 47);
    box-shadow: -12px 8px 10px;

}

.name{
    font-size: 60px;
    font-family: 'Aclonica', sans-serif;

}

#farquad-name {
    margin-left: 90px;
    margin-top: 50px;
}

#shrek-name {
    margin-left: 155px;
    margin-top: 50px;
}

.health{
    margin-left: 425px;
    margin-top: -150px;
    font-size: 100px;
    font-family: 'Aclonica', sans-serif;
}

.buttons-container {
    position: absolute;
    height:20%;
    width: 100%;
    background-color: rgb(44, 17, 6);
    border-top: 6px solid #0c0601;;
    z-index:1;
}

#prompt {
    width:677px;
    height:120px;
    background-color: grey;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    top: 12%;
    left: .25%;

}

button{
    width:250px;
    height:120px;
    border-radius: 50px 50px 50px 50px;
    font-size: 25px;
    font-family: 'Aclonica', sans-serif;
    box-shadow: 2px 8px 10px;
}

#rock {
    position: absolute;
    top: 12%;
    left: 47.5%;
}

#paper {
    position: absolute;
    top: 12%;
    left: 65%;
}

#scissors {
    position: absolute;
    top: 12%;
    left: 82.5%;
}
