body {
    overflow: hidden;
    margin: 0;
    font-family: Arial;
    
}

.container {
    height: 100vh;
    width: 100vw;
}

.battle-ground {
    height: 80%;
    width: 100%;
    background-color: #BCF0B7;
}

.buttons-container {
    height:20%;
    width: 100%;
    background-color: #5EB6CC;
    border-top: 2px solid black;
}

#prompt {
    width:670px;
    height:120px;
    background-color: grey;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    top: 83%;
    left: .5%;

}

button{
    width:250px;
    height:120px;
    border-radius: 50px 50px 50px 50px;
    font-size: 25px;
    font-family: 'Aclonica', sans-serif;
}

#rock {
    position: absolute;
    top: 83%;
    left: 47.5%;
}

#paper {
    position: absolute;
    top: 83%;
    left: 65%;
}

#scissors {
    position: absolute;
    top: 83%;
    left: 82.5%;
}
