body {
    overflow: hidden;
    margin: 0;
    font-family: Arial;
}

.container {
    height: 100vh;
    width: 100vw;
}

.battle-ground {
    height: 80%;
    width: 100%;
    /* background: linear-gradient( rgb(42, 196, 231) 10%, rgb(13, 123, 13)35%, rgb(140, 225, 143)); */
    background-image: url("swamp5.png");
}

#f-grass {
    position:absolute;
    z-index:0;
    top:46%;
    left:62%;
    width:auto;
    height:65px;
}

#s-grass {
    position:absolute;
    width:auto;
    height:250px;
    top:69%;
    left:4%;
    z-index:0;
}

#shrek {
    position: absolute;
    top: 30%;
    left:13%;
    width:auto;
    height:500px;
    z-index:1;
    
}

#farquad {
    position: absolute;
    top: 20%;
    left:70%;
    width:auto;
    height: 250px;
    z-index:1;
}

.health-box {
    width: 600px;
    height: 150px;
    background-color: rgb(207, 189, 189);
    border-style: inset;
}

#farquad-lives {
    position: absolute;
    top:5%;
    left:5%;
    border-radius: 50% 50% 50% 50%;
    background-color: rgb(136, 1, 1);
    box-shadow: 12px 8px 10px;

}
#farquad-lives::before {
    content: "";
    position: absolute;
    
    background-color: transparent;
    right: -30px;
    top:80%;
    height: 30px;
    width: 100px;
    border-bottom-left-radius: 80%;
    box-shadow: -50px 0 0 0 rgb(136, 1, 1);
    z-index: 0;
  }


#shrek-lives {
    position: absolute;
    top:55%;
    left:52%;
    border-radius: 50% 50% 50% 50%;
    background-color: rgb(172, 255, 47);
    box-shadow: -12px 8px 10px;
    

}
#shrek-lives::before {
    content: "";
    position: absolute;
    
    background-color: transparent;
    left: -30px;
    top:80%;
    height: 30px;
    width: 100px;
    border-bottom-right-radius: 80%;
    box-shadow: 50px 0 0 0 rgb(172, 255, 47);
    z-index: 0;
  }

.name{
    font-size: 60px;
    font-family: 'Aclonica', sans-serif;

}

#farquad-name {
    margin-left: 90px;
    margin-top: 50px;
}

#shrek-name {
    margin-left: 155px;
    margin-top: 50px;
}

.health{
    margin-left: 425px;
    margin-top: -150px;
    font-size: 100px;
    font-family: 'Aclonica', sans-serif;
}

#farq-rock {
    position:absolute;
    left: 60%;
    top:25%;
    height: 120px;
    width: auto;
}

#farq-paper {
    position:absolute;
    left: 60%;
    top:30%;
    height: 75px;
    width: auto;
    transform: rotate(-30deg);
}

#farq-scissors {
    position:absolute;
    left: 60%;
    top:30%;
    height: 120px;
    width: auto;
    transform:rotate(-120deg);
}


#shrek-rock {
    position:absolute;
    left: 40%;
    top:40%;
    height: 150px;
    width: auto;
}

#shrek-paper {
    position:absolute;
    left: 38%;
    top:42%;
    height: 150px;
    width: auto;
}

#shrek-scissors {
    position:absolute;
    left: 40%;
    top:40%;
    height: 150px;
    width: auto;
    transform:rotate(60deg);
}


.buttons-container {
    position: absolute;
    height:20%;
    width: 100%;
    background-color: rgb(44, 17, 6);
    border-top: 6px solid #0c0601;;
    z-index:1;
}

#prompt {
    width:677px;
    height:120px;
    background-color: grey;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    top: 12%;
    left: .25%;

}

button{
    width:250px;
    height:120px;
    border-radius: 50px 50px 50px 50px;
    font-size: 25px;
    font-family: 'Aclonica', sans-serif;
    box-shadow: 2px 8px 10px;
}

#rock {
    position: absolute;
    top: 12%;
    left: 47.5%;
}

#paper {
    position: absolute;
    top: 12%;
    left: 65%;
}

#scissors {
    position: absolute;
    top: 12%;
    left: 82.5%;
}


.container2 {
    height: 100vh;
    width: 100vw;
    background-color:aquamarine
}
.endscreen {
    position:absolute;
    z-index:1;
    height: 100%;
    width:100%;
}
.endscreen#shrekWins{
    background-color:rgb(172, 255, 47);
}

.endscreen#shrekLoses{
    background-color:rgb(136, 1, 1);
}

#header {
    text-align: center;
    text-decoration: wavy;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

/* #navbar {
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
} */

#h1home {
    text-align: center;
    text-decoration: wavy;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

#playgamebtn {
    position: absolute;
    left:53%;
    top: 10%;
}

#getHallofFame {
    position: absolute;
    left:30%;
    top: 10%;
}

#footer {
    position: absolute;
    left:41%;
    top:95%;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;

}

#shrekwinh1, #shrekloseh1 {
    text-align: center;
    text-decoration: wavy;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

#homescreenBtn{
    position: absolute;
    left:53%;
    top: 80%;

}
#playAgainBtn {
    position: absolute;
    left:30%;
    top:80%;

}

#sendimg{
    position: absolute;
    left:0%;
    height: 110%;
    width:auto;
    z-index: 0;
}
#fendimg{
    position: absolute;
    left: -10%;
    height: 110%;
    width:auto;
}

#theHall {
    position: absolute;
    left:44%;
    top:28%;
    font-size: 30px;
    padding: 10px 25px;
    border-radius: 10px double black;
}

#hallOfFameName{
    position:absolute;
    height: 400px;
    width: 600px;
    background:rgb(44, 17, 6);
    left:30%;
    top: 20%;
    z-index:1;
    border: 5px solid black;
    border-radius: 10%;
}

#hofh1{
    position:relative;
    left: 10%;
    font-size: 80px;
    font-style: bold;
    
}

#hofnameinput {
    position: relative;
    left: 8%;
    top: 80%;
    height: 50px;
    width:400px;
    font-size: 40px;
    border: 5px solid black;
}

#submit {
    position:absolute;
    top: 75%;
    left:80%;
    height:40px;
    width: 100px;
}

